Repository apache/stormcrawler, pull requests merged in 2018-03, with the labels that each got.

#542 Use UTF-8 for input encoding of seeds (FileSpout)
  core/src/main/java/com/digitalpebble/stormcrawler/filtering/basic/BasicURLNormalizer.java
  core/src/main/java/com/digitalpebble/stormcrawler/spout/FileSpout.java
Labels: core

#539 Move to Elasticsearch RESTAPi
  external/elasticsearch/es-conf.yaml
  external/elasticsearch/pom.xml
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/ElasticSearchConnection.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/bolt/DeletionBolt.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/bolt/IndexerBolt.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/metrics/MetricsConsumer.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/metrics/StatusMetricsBolt.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/persistence/AbstractSpout.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/persistence/AggregationSpout.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/persistence/CollapsingSpout.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/persistence/StatusUpdaterBolt.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/util/URLExtractor.java
Labels: elasticsearch, enhancement

#549 Crawl-delay in robots.txt should not shrink delay configured by fetcher.server.delay
  core/src/main/java/com/digitalpebble/stormcrawler/bolt/FetcherBolt.java
  core/src/main/java/com/digitalpebble/stormcrawler/bolt/SimpleFetcherBolt.java
  core/src/main/resources/crawler-default.yaml
Labels: core, enhancement, fetcher

#554 MetricsConsumer handle recursive values, fixes #550 and #526
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/metrics/MetricsConsumer.java
  external/solr/src/main/java/com/digitalpebble/stormcrawler/solr/metrics/MetricsConsumer.java
Labels: SOLR, elasticsearch, enhancement
