Repository apache/stormcrawler, pull requests merged in 2018-10, with the labels that each got.

#613 Batch PreparedStatements in SQL status updater bolt, fixes #610
  external/sql/src/main/java/com/digitalpebble/stormcrawler/sql/Constants.java
  external/sql/src/main/java/com/digitalpebble/stormcrawler/sql/SQLUtil.java
  external/sql/src/main/java/com/digitalpebble/stormcrawler/sql/StatusUpdaterBolt.java
Labels: SQL

#618 Abstract functionalities of spout implementations
  core/src/main/java/com/digitalpebble/stormcrawler/persistence/AbstractQueryingSpout.java
  external/elasticsearch/es-conf.yaml
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/persistence/AbstractSpout.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/persistence/AggregationSpout.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/persistence/CollapsingSpout.java
  external/solr/solr-conf.yaml
  external/solr/src/main/java/com/digitalpebble/stormcrawler/solr/persistence/SolrSpout.java
  external/sql/sql-conf.yaml
  external/sql/src/main/java/com/digitalpebble/stormcrawler/sql/Constants.java
  external/sql/src/main/java/com/digitalpebble/stormcrawler/sql/SQLSpout.java
Labels: SOLR, SQL, elasticsearch, enhancement, external

#634 Override Globally Configured Accepts and Accepts-Language Headers Per-URL
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/httpclient/HttpProtocol.java
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/okhttp/HttpProtocol.java
Labels: core, enhancement
