Repository apache/stormcrawler, pull requests merged in 2019-12, with the labels that each got.

#772 Crawl-delay handling: allow `fetcher.max.crawl.delay` exceed 300 sec., fixes #768
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/RobotRulesParser.java
Labels: core, enhancement

#774 (Storm 2.x) Fix call of storm jar / storm local in README
  archetype/src/main/resources/archetype-resources/README.md
Labels: bug, core, documentation

#775 okhttp protocol: HTTP request header lacks protocol name and version
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/okhttp/HttpProtocol.java
Labels: core, enhancement

#779 Archetype for SC+Elasticsearch
  external/elasticsearch/README.md
  external/elasticsearch/archetype/pom.xml
  external/elasticsearch/archetype/src/main/resources/META-INF/maven/archetype-metadata.xml
  external/elasticsearch/archetype/src/main/resources/archetype-resources/ES_IndexInit.sh
  external/elasticsearch/archetype/src/main/resources/archetype-resources/README.md
  external/elasticsearch/archetype/src/main/resources/archetype-resources/crawler-conf.yaml
  external/elasticsearch/archetype/src/main/resources/archetype-resources/es-conf.yaml
  external/elasticsearch/archetype/src/main/resources/archetype-resources/es-crawler.flux
  external/elasticsearch/archetype/src/main/resources/archetype-resources/pom.xml
  external/elasticsearch/archetype/src/main/resources/archetype-resources/src/main/java/ESCrawlTopology.java
  external/elasticsearch/archetype/src/main/resources/archetype-resources/src/main/resources/default-regex-filters.txt
  external/elasticsearch/archetype/src/main/resources/archetype-resources/src/main/resources/default-regex-normalizers.xml
  external/elasticsearch/archetype/src/main/resources/archetype-resources/src/main/resources/parsefilters.json
  external/elasticsearch/archetype/src/main/resources/archetype-resources/src/main/resources/urlfilters.json
  pom.xml
Labels: elasticsearch, enhancement
