Repository apache/stormcrawler, pull requests merged in 2019-03, with the labels that each got.

#690 Add a ScrollSpout to read all the documents from a shard
  core/src/main/java/com/digitalpebble/stormcrawler/persistence/AbstractQueryingSpout.java
  core/src/main/java/com/digitalpebble/stormcrawler/persistence/AbstractStatusUpdaterBolt.java
  core/src/main/java/com/digitalpebble/stormcrawler/persistence/DefaultScheduler.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/persistence/ScrollSpout.java
Labels: elasticsearch

#694 ES IndexerBolt : check success of batches before acking tuples
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/bolt/IndexerBolt.java
Labels: elasticsearch, enhancement

#695 changed ack mechanism for status updater bolts, fixes #689
  core/src/main/java/com/digitalpebble/stormcrawler/persistence/AbstractStatusUpdaterBolt.java
  core/src/main/java/com/digitalpebble/stormcrawler/persistence/MemoryStatusUpdater.java
  core/src/main/java/com/digitalpebble/stormcrawler/persistence/StdOutStatusUpdater.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/persistence/StatusUpdaterBolt.java
  external/solr/src/main/java/com/digitalpebble/stormcrawler/solr/persistence/StatusUpdaterBolt.java
  external/sql/src/main/java/com/digitalpebble/stormcrawler/sql/StatusUpdaterBolt.java
Labels: BREAKING CHANGE, enhancement

#691 WARC format improvements
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/ProtocolResponse.java
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/httpclient/HttpProtocol.java
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/okhttp/HttpProtocol.java
  core/src/main/resources/crawler-default.yaml
  external/warc/README.md
  external/warc/src/main/java/com/digitalpebble/stormcrawler/warc/GzipHdfsBolt.java
  external/warc/src/main/java/com/digitalpebble/stormcrawler/warc/WARCHdfsBolt.java
  external/warc/src/main/java/com/digitalpebble/stormcrawler/warc/WARCRecordFormat.java
  external/warc/src/main/java/com/digitalpebble/stormcrawler/warc/WARCRequestRecordFormat.java
  external/warc/src/test/java/com/digitalpebble/stormcrawler/warc/WARCRecordFormatTest.java
Labels: enhancement, warc
