Repository apache/stormcrawler, pull requests merged in 2019-05, with the labels that each got.

#717 Review Robots' caching logic, fixes #713
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/HttpRobotRulesParser.java
Labels: core

#718 Upgrade to Elasticsearch 7.0.x
  core/src/main/java/com/digitalpebble/stormcrawler/bolt/URLFilterBolt.java
  external/elasticsearch/ES_IndexInit.sh
  external/elasticsearch/es-conf.yaml
  external/elasticsearch/pom.xml
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/ElasticSearchConnection.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/bolt/DeletionBolt.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/bolt/IndexerBolt.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/filtering/JSONURLFilterWrapper.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/metrics/MetricsConsumer.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/metrics/StatusMetricsBolt.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/parse/filter/JSONResourceWrapper.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/persistence/AbstractSpout.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/persistence/AggregationSpout.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/persistence/CollapsingSpout.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/persistence/StatusUpdaterBolt.java
Labels: dependency, elasticsearch

#722 NPE in WARCHdfsBolt on cleanup(), fixes #720
  external/warc/src/main/java/com/digitalpebble/stormcrawler/warc/GzipHdfsBolt.java
Labels: bug, warc

#732 Force English Locale for SimpleDateFormat in coockie converter.
  core/src/main/java/com/digitalpebble/stormcrawler/util/CookieConverter.java
Labels: bug
