Repository apache/stormcrawler, pull requests merged in 2020-10, with the labels that each got.

#831 WARCSpout to add `_request.time_` to metadata
  external/warc/src/main/java/com/digitalpebble/stormcrawler/warc/WARCSpout.java
Labels: bug, warc

#829 HTTP protocol implementation: allow to configure which protocol version(s) to use
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/AbstractHttpProtocol.java
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/okhttp/HttpProtocol.java
  core/src/main/java/com/digitalpebble/stormcrawler/util/ConfUtils.java
  core/src/main/resources/crawler-default.yaml
  external/warc/README.md
Labels: core, enhancement

#826 WARCSpout/FileSpout: ClassCastException if message ID of failed tuples is not of type byte[]
  core/src/main/java/com/digitalpebble/stormcrawler/spout/FileSpout.java
  external/warc/src/main/java/com/digitalpebble/stormcrawler/warc/WARCSpout.java
Labels: bug, core

#833 WARCSpout: IllegalArgumentException if http.content.limit == -1
  external/warc/src/main/java/com/digitalpebble/stormcrawler/warc/WARCSpout.java
Labels: bug, warc

#839 Upgrade to Solr 8.6.3
  external/solr/README.md
  external/solr/cores/docs/conf/stopwords.txt
  external/solr/cores/docs/conf/synonyms.txt
  external/solr/pom.xml
Labels: SOLR, dependency

#836 JUnit tests for ES + tuples with canonical URL may not get acked
  .travis.yml
  core/src/test/java/com/digitalpebble/stormcrawler/TestOutputCollector.java
  external/elasticsearch/pom.xml
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/bolt/IndexerBolt.java
  external/elasticsearch/src/test/java/com/digitalpebble/stormcrawler/elasticsearch/bolt/IndexerBoltTest.java
Labels: bug, elasticsearch, enhancement
