Repository apache/stormcrawler, pull requests merged in 2021-07, with the labels that each got.

#890 Multi proxy support
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/AbstractHttpProtocol.java
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/httpclient/HttpProtocol.java
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/okhttp/HttpProtocol.java
  core/src/main/java/com/digitalpebble/stormcrawler/proxy/MultiProxyManager.java
  core/src/main/java/com/digitalpebble/stormcrawler/proxy/ProxyManager.java
  core/src/main/java/com/digitalpebble/stormcrawler/proxy/SCProxy.java
  core/src/main/java/com/digitalpebble/stormcrawler/proxy/SingleProxyManager.java
  core/src/test/java/com/digitalpebble/stormcrawler/proxy/MultiProxyManagerTest.java
  core/src/test/java/com/digitalpebble/stormcrawler/proxy/SCProxyTest.java
  core/src/test/java/com/digitalpebble/stormcrawler/proxy/SingleProxyManagerTest.java
Labels: core, enhancement

#893 Proxy bug fix
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/AbstractHttpProtocol.java
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/httpclient/HttpProtocol.java
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/okhttp/HttpProtocol.java
  core/src/main/java/com/digitalpebble/stormcrawler/proxy/MultiProxyManager.java
  core/src/main/java/com/digitalpebble/stormcrawler/proxy/ProxyManager.java
  core/src/main/java/com/digitalpebble/stormcrawler/proxy/SingleProxyManager.java
  core/src/test/java/com/digitalpebble/stormcrawler/proxy/MultiProxyManagerTest.java
  core/src/test/java/com/digitalpebble/stormcrawler/proxy/SingleProxyManagerTest.java
Labels: bug

#898 Fixed proxy auth bug in OkHTTP protocol & Enabled proxy file access via resources dirctory
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/okhttp/HttpProtocol.java
  core/src/main/java/com/digitalpebble/stormcrawler/proxy/MultiProxyManager.java
Labels: bug, enhancement

#900 DelegatorProtocol
  core/src/main/java/com/digitalpebble/stormcrawler/Metadata.java
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/DelegatorProtocol.java
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/selenium/DelegatorRemoteDriverProtocol.java
  core/src/test/java/com/digitalpebble/stormcrawler/protocol/DelegationProtocolTest.java
  core/src/test/resources/delegator-conf.yaml
Labels: core, enhancement
