Repository apache/stormcrawler, pull requests merged in 2022-07, with the labels that each got.

#982 Add ChannelManager for local channel management and constants to Spout.java
  external/elasticsearch/pom.xml
  external/urlfrontier/pom.xml
  external/urlfrontier/src/main/java/com/digitalpebble/stormcrawler/urlfrontier/Constants.java
  external/urlfrontier/src/main/java/com/digitalpebble/stormcrawler/urlfrontier/ManagedChannelUtil.java
  external/urlfrontier/src/main/java/com/digitalpebble/stormcrawler/urlfrontier/Spout.java
  pom.xml
Labels: urlfrontier

#985 Fix error when spaces in path to test-resources of StatusBoltTest in ElasticSearch-Module
  external/elasticsearch/src/test/java/com/digitalpebble/stormcrawler/elasticsearch/bolt/StatusBoltTest.java
Labels: elasticsearch

#984 Add unit test basics for URLFrontier.
  external/urlfrontier/src/test/java/com/digitalpebble/stormcrawler/urlfrontier/StatusUpdaterBoltTest.java
  external/urlfrontier/src/test/java/com/digitalpebble/stormcrawler/urlfrontier/URLFrontierContainer.java
  external/urlfrontier/src/test/java/com/digitalpebble/stormcrawler/urlfrontier/URLFrontierContainerConfig.java
Labels: enhancement, urlfrontier

#983 Fix starvation and busy waiting of StatusUpdaterBolt.java, add Constants.
  external/urlfrontier/src/main/java/com/digitalpebble/stormcrawler/urlfrontier/Constants.java
  external/urlfrontier/src/main/java/com/digitalpebble/stormcrawler/urlfrontier/StatusUpdaterBolt.java
Labels: enhancement, urlfrontier

#988 Fix starvation and busy waiting of ES StatusUpdaterBolt (Fixes #986)
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/BulkItemResponseToFailedFlag.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/ElasticSearchConnection.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/bolt/IndexerBolt.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/metrics/MetricsConsumer.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/persistence/StatusUpdaterBolt.java
  external/elasticsearch/src/test/java/com/digitalpebble/stormcrawler/elasticsearch/bolt/StatusBoltTest.java
Labels: enhancement, elasticsearch

#989 Fix starvation and busy waiting of ES IndexerBolt
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/bolt/IndexerBolt.java
  external/elasticsearch/src/test/java/com/digitalpebble/stormcrawler/elasticsearch/bolt/IndexerBoltTest.java
Labels: enhancement, elasticsearch

#993 HttpProtocol use the md protocol.set-headers to add custom header by url
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/AbstractHttpProtocol.java
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/httpclient/HttpProtocol.java
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/okhttp/HttpProtocol.java
Labels: enhancement, core
