Repository apache/stormcrawler, pull requests merged in 2022-12, with the labels that each got.

#1011 Opensearch module
  external/opensearch/OS_IndexInit.sh
  external/opensearch/README.md
  external/opensearch/dashboards/importDashboards.sh
  external/opensearch/dashboards/metrics.ndjson
  external/opensearch/dashboards/status.ndjson
  external/opensearch/dashboards/storm.ndjson
  external/opensearch/opensearch-conf.yaml
  external/opensearch/pom.xml
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/BulkItemResponseToFailedFlag.java
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/Constants.java
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/IndexCreation.java
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/OpensearchConnection.java
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/bolt/DeletionBolt.java
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/bolt/IndexerBolt.java
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/filtering/JSONURLFilterWrapper.java
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/metrics/MetricsConsumer.java
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/metrics/StatusMetricsBolt.java
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/parse/filter/JSONResourceWrapper.java
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/persistence/AbstractSpout.java
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/persistence/AggregationSpout.java
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/persistence/HybridSpout.java
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/persistence/StatusUpdaterBolt.java
  external/opensearch/src/main/resources/content.mapping
  external/opensearch/src/main/resources/metrics.mapping
  external/opensearch/src/main/resources/status.mapping
  external/opensearch/src/test/java/com/digitalpebble/stormcrawler/opensearch/bolt/IndexerBoltTest.java
  external/opensearch/src/test/java/com/digitalpebble/stormcrawler/opensearch/bolt/StatusBoltTest.java
  pom.xml
Labels: enhancement, external

#1015 Fix typos in YAML configuration files
  archetype/src/main/resources/archetype-resources/crawler-conf.yaml
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/selenium/RemoteDriverProtocol.java
  core/src/main/java/com/digitalpebble/stormcrawler/util/MetadataTransfer.java
  core/src/main/resources/crawler-default.yaml
  external/elasticsearch/archetype/src/main/resources/archetype-resources/crawler-conf.yaml
  external/elasticsearch/archetype/src/main/resources/archetype-resources/es-conf.yaml
  external/solr/solr-conf.yaml
  external/sql/sql-conf.yaml
Labels: enhancement, documentation

#1010 [WARC] Backward compatible storage of HTTP/2 headers
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/ProtocolResponse.java
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/okhttp/HttpProtocol.java
  core/src/test/java/com/digitalpebble/stormcrawler/TestOutputCollector.java
  external/warc/README.md
  external/warc/src/main/java/com/digitalpebble/stormcrawler/warc/GzipHdfsBolt.java
  external/warc/src/main/java/com/digitalpebble/stormcrawler/warc/WARCFileNameFormat.java
  external/warc/src/main/java/com/digitalpebble/stormcrawler/warc/WARCHdfsBolt.java
  external/warc/src/main/java/com/digitalpebble/stormcrawler/warc/WARCRecordFormat.java
  external/warc/src/main/java/com/digitalpebble/stormcrawler/warc/WARCRequestRecordFormat.java
  external/warc/src/test/java/com/digitalpebble/stormcrawler/warc/WARCHdfsBoltTest.java
  external/warc/src/test/java/com/digitalpebble/stormcrawler/warc/WARCRecordFormatTest.java
Labels: warc

#1019 Ignore empty fields indexer
  core/src/main/java/com/digitalpebble/stormcrawler/indexing/AbstractIndexerBolt.java
  core/src/main/resources/crawler-default.yaml
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/bolt/IndexerBolt.java
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/bolt/IndexerBolt.java
  external/solr/src/main/java/com/digitalpebble/stormcrawler/solr/bolt/IndexerBolt.java
Labels: enhancement, indexer
