Repository apache/stormcrawler, pull requests merged in 2023-02, with the labels that each got.

#1036 Status ES document id
  core/src/main/java/com/digitalpebble/stormcrawler/persistence/AbstractStatusUpdaterBolt.java
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/persistence/StatusUpdaterBolt.java
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/persistence/StatusUpdaterBolt.java
Labels: enhancement, elasticsearch, OpenSearch

#1046 Fixes #1045. Remove range syntax from snakeyaml
  core/pom.xml
Labels: bug, core, dependency

#1047 Fix #1032: Catch the exception inside the loop to avoid breaking if one remote instance is misbehaving
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/selenium/RemoteDriverProtocol.java
Labels: enhancement
