Repository apache/stormcrawler, pull requests merged in 2023-12, with the labels that each got.

#1130 Glob field mapping for indexer.md.mapping
  archetype/src/main/resources/archetype-resources/crawler-conf.yaml
  core/src/main/java/com/digitalpebble/stormcrawler/indexing/AbstractIndexerBolt.java
  core/src/main/resources/crawler-default.yaml
  core/src/test/java/com/digitalpebble/stormcrawler/indexer/BasicIndexingTest.java
  external/elasticsearch/archetype/src/main/resources/archetype-resources/crawler-conf.yaml
  external/opensearch/archetype/src/main/resources/archetype-resources/crawler-conf.yaml
Labels: enhancement, core

#1135 Implement configurable getDocumentID in DeletionBolt
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/bolt/DeletionBolt.java
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/bolt/DeletionBolt.java
Labels: enhancement, elasticsearch, OpenSearch

#1138 Add two tests for SiteMapParserBolt
  core/src/test/java/com/digitalpebble/stormcrawler/bolt/SiteMapParserBoltTest.java
  core/src/test/resources/tripadvisor.sitemap.index.xml
  core/src/test/resources/tripadvisor.sitemap.xml.gz
Labels: enhancement

#1139 dependency upgrades
  core/pom.xml
  external/opensearch/pom.xml
  external/warc/pom.xml
  pom.xml
Labels: dependency
