Repository apache/stormcrawler, pull requests merged in 2023-11, with the labels that each got.

#1119 Use mock server for selenium tests, fix #1116
  core/pom.xml
  core/src/test/java/com/digitalpebble/stormcrawler/protocol/selenium/ProtocolTest.java
Labels: enhancement, core, Selenium

#1117 Issue #728: Adding asterisk for metadata transfer
  archetype/src/main/resources/archetype-resources/crawler-conf.yaml
  core/src/main/java/com/digitalpebble/stormcrawler/Metadata.java
  core/src/main/java/com/digitalpebble/stormcrawler/bolt/FetcherBolt.java
  core/src/main/java/com/digitalpebble/stormcrawler/bolt/SimpleFetcherBolt.java
  core/src/main/java/com/digitalpebble/stormcrawler/util/MetadataTransfer.java
  core/src/main/resources/crawler-default.yaml
  core/src/test/java/com/digitalpebble/stormcrawler/MetadataTest.java
  core/src/test/java/com/digitalpebble/stormcrawler/bolt/SiteMapParserBoltTest.java
  core/src/test/java/com/digitalpebble/stormcrawler/util/MetadataTransferTest.java
  external/elasticsearch/archetype/src/main/resources/archetype-resources/crawler-conf.yaml
  external/opensearch/archetype/src/main/resources/archetype-resources/crawler-conf.yaml
Labels: enhancement, core

#1122 WARCSpout loads inputs using HDFS
  external/warc/README.md
  external/warc/src/main/java/com/digitalpebble/stormcrawler/warc/WARCSpout.java
  external/warc/src/test/java/com/digitalpebble/stormcrawler/warc/WARCSpoutTest.java
  external/warc/src/test/resources/test.warc
  external/warc/src/test/resources/warc.inputs
Labels: enhancement, warc

#1126 Fix wrong most recent date was set
  external/elasticsearch/src/main/java/com/digitalpebble/stormcrawler/elasticsearch/persistence/AggregationSpout.java
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/persistence/AggregationSpout.java
Labels: bug, elasticsearch, OpenSearch
