Repository apache/stormcrawler, pull requests merged in 2023-04, with the labels that each got.

#1056 Change HttpProtocol to defer to configured values for retryOnConnectionFailure and followRedirects
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/okhttp/HttpProtocol.java
  core/src/main/resources/crawler-default.yaml
Labels: enhancement, core

#1057 Cache redirected robots.txt for target host only if path is /robots.txt and query is empty
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/HttpRobotRulesParser.java
Labels: bug, core

#1054 Issue #1043: Fixing problems after restart of Frontier service
  external/urlfrontier/src/main/java/com/digitalpebble/stormcrawler/urlfrontier/StatusUpdaterBolt.java
  external/urlfrontier/src/test/java/com/digitalpebble/stormcrawler/urlfrontier/StatusUpdaterBoltTest.java
  external/urlfrontier/src/test/java/com/digitalpebble/stormcrawler/urlfrontier/URLFrontierContainer.java
Labels: bug, urlfrontier
