Repository apache/stormcrawler, pull requests merged in 2023-05, with the labels that each got.

#1053 #1049 Replace "Collapse and Expand Results" Solr query with "Result Grouping" query.
  external/solr/src/main/java/com/digitalpebble/stormcrawler/solr/persistence/SolrSpout.java
Labels: bug, SOLR

#1067 Dependency upgrades. fixes #1066
  core/pom.xml
  external/aws/pom.xml
  external/pom.xml
  external/solr/pom.xml
  external/warc/pom.xml
  pom.xml
Labels: dependency

#1069 Automatic creation of index definitions should use the bolt type
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/IndexCreation.java
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/bolt/IndexerBolt.java
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/metrics/MetricsConsumer.java
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/persistence/AbstractSpout.java
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/persistence/StatusUpdaterBolt.java
  external/opensearch/src/main/resources/indexer.mapping
Labels: enhancement, OpenSearch

#1071 mechanism to retrieve more generic value of configuration
  core/src/main/java/com/digitalpebble/stormcrawler/util/ConfUtils.java
  core/src/test/java/com/digitalpebble/stormcrawler/util/ConfUtilsTest.java
  external/opensearch/archetype/src/main/resources/archetype-resources/opensearch-conf.yaml
  external/opensearch/opensearch-conf.yaml
  external/opensearch/src/main/java/com/digitalpebble/stormcrawler/opensearch/OpenSearchConnection.java
Labels: enhancement, OpenSearch

#1055 Issue #1042: Adapt parsing of robots.txt files
  core/src/main/java/com/digitalpebble/stormcrawler/protocol/HttpRobotRulesParser.java
  core/src/main/resources/crawler-default.yaml
  core/src/test/java/com/digitalpebble/stormcrawler/protocol/HttpRobotRulesParserTest.java
Labels: enhancement, core
