Repository apache/stormcrawler, pull requests merged in 2024-10, with the labels that each got.

#1341 Store metadata as WARC Metadata records
  external/warc/README.md
  external/warc/src/main/java/org/apache/stormcrawler/warc/MetadataRecordFormat.java
  external/warc/src/main/java/org/apache/stormcrawler/warc/WARCHdfsBolt.java
  external/warc/src/main/java/org/apache/stormcrawler/warc/WARCRecordFormat.java
  external/warc/src/test/java/org/apache/stormcrawler/warc/WARCRecordFormatTest.java
Labels: enhancement, warc

#1342 Improve robustness of WARC generation
  external/warc/src/main/java/org/apache/stormcrawler/warc/GzipHdfsBolt.java
  external/warc/src/main/java/org/apache/stormcrawler/warc/MetadataRecordFormat.java
  external/warc/src/main/java/org/apache/stormcrawler/warc/WARCRecordFormat.java
  external/warc/src/main/java/org/apache/stormcrawler/warc/WARCRequestRecordFormat.java
Labels: enhancement, warc

#1363 Trivial: version number in warc/README fix #1317
  external/warc/README.md
Labels: documentation

#1371 Apache Storm 2.7.0
  README.md
  archetype/src/main/resources/archetype-resources/pom.xml
  external/opensearch/archetype/src/main/resources/archetype-resources/pom.xml
  pom.xml
Labels: dependency

#1373 #1353 Fix for URLFrontier spout not taking into account the crawl ID
  external/urlfrontier/src/main/java/org/apache/stormcrawler/urlfrontier/Spout.java
Labels: urlfrontier

#1384 Fix #1313 "Exclude "__files" from Source Release Artifacts""
  assembly.xml
  pom.xml
Labels: enhancement

#1383 #1301 - add build doc for the source release
  README.md
Labels: documentation

#1386 [1385] bugfix - check for null before the for-each loop
  external/warc/src/main/java/org/apache/stormcrawler/warc/MetadataRecordFormat.java
Labels: bug, warc
